form {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 10px;
}

content {
  flex-direction: row;
}

button {
  margin-bottom: 80px;
}

textarea {
    width: 450px;
    height: 40px;
}