body {
  background-color: rgba(253, 188, 196, 0.8);
}

form {
  display: flex;
  flex-direction: column;
}

content {
  flex-direction: row;
}

button {
  margin-bottom: 80px;
  width: 140px;
  height: 40px;
}

textarea {
    width: 450px;
    height: 40px;
}

label {
  flex-direction: column;
}


