.item {
    justify-content: space-between;
    gap: 20px;
}

#id-root {
  color: red;
}

li {
  color: black;
  font-size: 34px;
}

ul {
  display: flex;
  flex-direction: row;
  margin-right: 80px;
}

h1 {
  color: red;
  font-size: 24px;
  margin-top: 40px;
  margin-left: 75px;
}

p.item {
  color: black;
}

#firstName {
  margin-top: 50px;
  line-height: -12px;
  line-height: 12px;
}

#email {
  margin-right: 80px;
}

#password {
margin-right: 80px;
}

label {
  font-size: 18px;
  margin-left: 80px;
}

input {
  margin-right: 20px;
}

.submitLogin {
  margin-left: 280px;
}
