/* TODO style Navbar */

ul {
  
    list-style-type: none;
   
  }

  li {
    margin-left:60px;
  }

  .groupomania-logo {
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin-left: 120px;
    margin-top: 20px;
  }

