ul {
  
    list-style-type: none;
   
  }

  li {
    margin-left:60px;
  }

  .groupomania-logo {
    margin: auto;
    object-fit: cover;
    width: 250px;
    height: 150px;
    margin-top: 40px;
  }

  .app-header {
    display: flex;
    justify-content: center;
  }

  .navbar {
    background-color: red;
    display: flex;
  }
