.postDetail {
    background: white;
    border-radius: 20px;
    padding: 11px;
    width: 230px;
    height: 230px;
    flex-direction: column;
    padding: 5px 5px 5px;
    margin-left: 0px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.05);
  }

  .postDetailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }